body {
    background-color: lawngreen;
    height: 100vh;
}

.page-container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 350px;
    height: 100%;
    overflow: hidden;

    border-right: 3px solid plum;
}

.main-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.sidebar-image {
    width: 100%;

}

.badge-development {
    background-color: rgb(191, 40, 97);
    color: white;
}

.badge-design {
    background-color: rgb(47, 65, 120);
    color: white;
}

.badge-business {
    background-color: rgb(83, 140, 38);
    color: white;
}

.card-img-top {
    width: 50%;
}

.badge {
    float: right;
}